parameters:
    phpVersion: 70200
    level: 6
    paths:
        - .
    excludePaths:
        - examples
        - tools
        - vendor
    ignoreErrors:
        - '#Method Fintecture\\Api\\ApiResponse::__get\(\) has no return type specified.#'
        - '#Method Fintecture\\Client::__get\(\) has no return type specified.#'
    checkMissingIterableValueType: false
